{% extends 'base.html.twig' %}

{% block title %}Berlin Forecast{% endblock %}

{% block body %}
    {% if headlines %}
        {% for headline in headlines %}
            <a href=" {{ headline.Link }}" target="_blank"><h2> {{ headline.text }} </h2></a>
        {% endfor %}
    {% endif %}
    {% if dailyForecasts %}
        <table id="articles" class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Temperature</th>
                <th>Day</th>
                <th>Night</th>
                <th>Website Link</th>
            </tr>
            </thead>
            <tbody>
            {% for dailyForecast in dailyForecasts %}
                <tr>
                    <td>{{ dailyForecast.Date|date('Y-m-d') }}</td>

                    <td>{% set tempratures = json_decode(dailyForecast.Temperature) %}
                        <b>Minimum: </b> {{ tempratures['Minimum']['Value'] }}{{ tempratures['Minimum']['Unit'] }}<br>
                        <b>Maximum: </b> {{ tempratures['Maximum']['Value'] }}{{ tempratures['Maximum']['Unit'] }}

                    </td>
                    <td>
                        {% set Day = json_decode(dailyForecast.Day) %}

                        <img src="https://apidev.accuweather.com/developers/Media/Default/WeatherIcons/{{ Day['Icon'] }}-s.png"><br>
                        <b>{{ Day['IconPhrase'] }}</b><br>
                        {% if  Day['HasPrecipitation'] == true %}
                            Precipitation: {{ Day['PrecipitationType'] }} <br>
                            Precipitation Intensity {{ Day['PrecipitationIntensity'] }}
                        {% endif %}


                    </td>
                    <td>
                        {% set Night = json_decode(dailyForecast.Night) %}

                        <img src="https://apidev.accuweather.com/developers/Media/Default/WeatherIcons/{{ Night['Icon'] }}-s.png"><br>
                        <b>{{ Night['IconPhrase'] }}</b><br>
                        {% if Night['HasPrecipitation'] == true %}
                            Precipitation: {{ Night['PrecipitationType'] }} <br>
                            Precipitation Intensity {{ Night['PrecipitationIntensity'] }}
                        {% endif %}
                    </td>
                    <td>
                        {% set Sources = json_decode(dailyForecast.Sources) %}
                        <ul>
                            {% for Source in Sources %}
                                <li>{{ Source }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td><a href="{{ dailyForecast.Link }}" target="_blank">Link to Desktop</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Forecast Added Yet. (Refresh the databaset to add some from the API</p>
    {% endif %}
{% endblock %}
